@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700&display=swap');

:root {
    --black: #262626;
    --xfocus: #8F8EBF;
    --focus: #4F4D8C;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: var(--black);
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 550px;
}

.progress-container::before {
    content: '';
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.5s ease;
}

.progress {
    background-color: var(--focus);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.5s ease;
}

.circle {
    background-color: #ffffff;
    color: var(--black);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--xfocus);
    transition: 0.4s ease;
}

.active {

    background-color: var(--xfocus);
    border: 2px solid var(--focus);
    transition: 0.4s ease;
}

.btn {
    background-color: var(--focus);
    color: #FFF;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: #b9b9b9;
    cursor: not-allowed;
}